@keyframes statio-fold {
  from {
      opacity: 0;
    }
  to {
      opacity: 1;
    }
}

.list-raw
{
    opacity: 0;
    animation: 1s statio-fold forwards;
}

.statio-fold
{
    animation: 150ms statio-fold forwards;
}
