.samplesLogin-list li {
    @apply text-xs text-gray-600 mb-2 pb-2 border-b border-gray-200 cursor-default;
}

.samplesLogin-list li:last-child {
    @apply mb-0 pb-0 border-none;
}

.auth-box {
    @apply rounded w-full sm:w-80 mx-4 sm:mx-auto;
    margin-bottom: 20vw;
}

[data-page="auth-theory"] .auth-box {
    margin-bottom: 0 !important;
}

@media (max-height: 568px) {
    [data-page="auth"] img {
        @apply hidden;
    }

    .auth-box {
        margin-bottom: 0;
    }
}