.heading {
    @apply flex items-center cursor-default font-bold text-gray-900;
}

.heading::before {
    content: "";
    @apply inline-block w-8 bg-gray-200 ml-2;
    height: 1px;
}

.heading::after {
    content: attr(data-total);
    @apply font-normal text-xs text-gray-700 mr-2;
}